body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #787878;
    overflow: hidden;
}

.title {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    margin: 1rem;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0,0,0,0.34)
}

.announcer-text {
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
    color: #ec71ff;
    position: absolute;
    top: 0;
    transform: translate(-50%, -120%);
    transition: all 200ms;
    opacity: 0;
}

a {
    color: rgba(0,0,0,0.34);
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255,0.34);
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    position: relative;
    background-image: url("../assets/grid-lines3.png");
    background-color: #333;
    background-repeat: repeat;
    box-shadow: 0 0 2rem rgba(0,0,0,0.5);
    user-select: none;
}

.spot {
    position: absolute;
    background-size: contain;
    width: 144px;
    height: 144px;
    transition: all 150ms;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0,0,0,0.2);
    background-color: #222;
    border-radius: 40%;
}

.spot:hover {
    z-index: 5;
}

.piece {
    --scale-x: 1;
    --scale-y: 1;
    --translate-x: 0;
    --translate-y: 0;
    transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale-x), var(--scale-y));

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    background-color: #d7d14c;
    border-radius: 25%;
    box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.25);
    /* perspective: 5rem;
    perspective-origin: 150% 150%; */
    /* transform-style: preserve-3d; */
    transition: all 150ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    z-index: 10;
}

.piece-p2 {
    background-color: #4c97d1;
}
.piece-p2:hover {
    background-color: #4cd7d1 !important;
    filter: drop-shadow(0px 0px 0.5rem #4cd7d1) !important;
}

.piece:hover {
    background-color: #fffa95;
    --scale-x: 1.05;
    --scale-y: 1.05;
    filter: drop-shadow(0px 0px 0.5rem #fffa95);
}

.drag-surface {
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;

    /* Just below z-index of .piece */
    z-index: 9; 
}