body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #666;
    overflow-x: hidden;
}

.title {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    margin: 1rem;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0,0,0,0.34)
}

.announcer-text {
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
    color: #ec71ff;
    position: absolute;
    top: 0;
    transform: translate(-50%, -120%);
    transition: all 200ms;
    opacity: 0;
}

a {
    color: rgba(0,0,0,0.34);
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255,0.34);
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    position: relative;
    background-image: url("../assets/grid-lines3.png");
    background-color: #333;
    background-repeat: repeat;
    box-shadow: 0 0 2rem rgba(0,0,0,0.5)
}

.spot {
    position: absolute;
    background: url("../assets/spot.png");
    background-size: contain;
    width: 144px;
    height: 144px;
    transition: all 150ms;
    opacity: 0.5;
}

.spot:hover {
    filter: drop-shadow(0px 0px 1rem #0f9);
    /* transform: scale(1.25); */
}

.piece {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    background-color: #d7d14c;
    border-radius: 25px;
    box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.34);
    perspective: 5rem;
    perspective-origin: 150% 150%;
    transform-style: preserve-3d;
    transition-property: transform, background-color;
    transition-duration: 500ms, 150ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.piece-p2 {
    background-color: #4c97d1;
}
.piece-p2:hover {
    background-color: #4cd7d1 !important;
}

.piece:hover {
    background-color: #fffa95;
}